# npm and nodejs
node_modules
ts-node
coverage
*.log

# webstorm
.idea

# Typescript
dist
docs
src/*/*.js
src/*/*.js.map
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.d.ts
test/**/*.js.map